<template>
  <div class="editor-mode">
    <div v-if="!selected">
      <p class="indicator">
        Mode édition :
      </p>
      <Selector @validation-choice="setChoice"/>
    </div>
    <div v-if="selected">
      <p class="indicator">
        Choix effectué :
      </p>
      <p class="show-choice">
         {{ formatChoice() }}
      </p>
      <Editor :choice="choice" :full_data="full_data"/>
    </div>
  </div>
</template>


<script>
import Selector from "../components/selector"
import Editor from "../components/edit"

export default {
  name: 'edit_mode',
  components: {
    Selector,
    Editor,
  },
  methods: {
    setChoice(payload){
      this.choice = payload.choice;
      this.full_data = payload.full_data
      this.selected = true;
    },
    formatChoice(){
      let formatted = "";
      var mapName = {
        group_name: "Groupe : ",
        topic_name: " | Sujet : ",
        question_name: " | Question : ",
        point_name: " | Point : ",
      };
      for (let item in this.choice){
        if (this.choice[item]){
          formatted += mapName[item] + this.choice[item];
        }
      }
      return formatted
    }
  },
  data() {
    return {
      choice: {
        group_name: null,
        topic_name: null,
        question_name: null,
        point_name: null
      },
      selected: false
    }
  }
}
</script>

<style>
.editor-mode {
  margin-top: 125px;
}
@font-face {
    font-family: "Roboto Thin";
    src: url("../assets/fonts/Roboto-Thin.ttf");
}
.indicator {
  text-align: center;
  font-family: "Roboto Thin";
  font-size: 30px;
  margin: 50px;
}

.show-choice {
  text-align: center;
  font-family: "Roboto Regular";
  margin-top: -30px;
  margin-bottom: 50px;
  font-size: 20px;
}
</style>