<template>
  <div class="home">
    <p id="indicator">
      Choisir un groupe de travail :
    </p>
      <GroupItem 
          v-for="item in groups"
          v-bind:key="item.id"
          :name="item.name"
          :description="item.description"
          :full_description="item.full_description"
      />
  </div>
</template>


<script>
import GroupItem from '../components/GroupItem'

export default {
  name: 'Home',
  components: {
    GroupItem
  },
  data (){
    return {
    groups: [],
    }
  },
  methods: {
    async fetchGroups(){
      try {
        let response = await fetch("http://localhost:3000/groups");
        this.groups = await response.json();
      } catch (error) {
        console.log(error);
      }
    },
  },
  created() {
    this.fetchGroups();
  }
}
</script>

<style>
.home {
  margin-top: 125px;
}
@font-face {
    font-family: "Roboto Thin";
    src: url("../assets/fonts/Roboto-Thin.ttf");
}
#indicator {
  text-align: center;
  font-family: "Roboto Thin";
  font-size: 30px;
  margin: 50px;
}

</style>