<template>
    <div class="wpi">
    <p id="indicator">
      Choisir un thème :
    </p>
        <TopicItem
            v-for="item in topics"
            v-bind:key="item.key"
            :name="item.name"
            :description="item.description"
            :questions="item.questions"
        />
    </div>
</template>

<script>
import TopicItem from "../components/TopicItem"

export default {
    name: "WPI",
    components: {
        TopicItem
    },
    data() {
        return {
            topics: []
        }
    },
  methods: {
    async fetchTopics(){
      try {
        let response = await fetch("http://localhost:3000/topics/WPI");
        this.topics = await response.json();
      } catch (error) {
        console.log(error);
      }
    },
  },
  created() {
    this.fetchTopics();
  }
}
</script>

<style>
.wpi {
  margin-top: 125px;
}
#indicator {
  text-align: center;
  font-family: "Roboto Thin";
  font-size: 30px;
  margin: 50px;
}
</style>