<template>
<div class="chart-container" style="display:block; height:400px; width:600px; margin:30px auto">
    <canvas id="chart"></canvas>
</div>
</template>

<script>
import Chart from 'chart.js'

export default {
  name: 'Chart',
  props: {
      datasets: Array,
      labels: Array,
      type: String,
      title: String,
  },
  data() {
      return {          
          config: {
            type: this.type,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: this.title
                }
            }
          }
      }
  },
  mounted() {
    const ctx = document.getElementById("chart");
    let config = this.config;
    let datasets = this.datasets;
    if (this.type == "line"){
        for (const label in datasets){
            datasets[label]["fill"] = false;
            datasets[label]["tension"] = 0.2
        }
    }
    config["data"] = {
        labels: this.labels,
        datasets: datasets
    };
    console.log(config);
    new Chart(ctx, config);
  }
}
</script>