<template>
    <div class="editor">
        <div v-for="item in input" v-bind:key="item.key">
            <p class="key-name"> {{ item.name }} : </p>
            <div class="key-value" v-if="mode !='new'" style="margin-bottom:20px"> 
                <span style="font-family:'Roboto Regular'"> (Actuel) </span>
                <span> {{ full_data[mode.split("-")[1]][item.key] }} </span> </div>
            <input :type="item.type" v-if="item.type == 'text'" v-model="entry[item.key]">
            <textarea v-if="item.type == 'text-area'" v-model="entry[item.key]"></textarea>
        </div>
        <button class="modify-button" @click="updateEntry" v-if="mode != 'new'">Modifier</button>
        <button class="delete-button" @click="deleteEntry" v-if="mode != 'new'">Supprimer</button>
        <button class="create-button" @click="createEntry" v-if="mode == 'new'">Ajouter</button>
    </div>
</template>

<script>
export default {
    name: "Editor",
    props: {
        choice: Object,
        full_data: Object,
    },
    methods: {
        redirect() {
            this.$router.go("/")
        },
        init(){
            if (this.choice.group_name == "New Group"){
                this.input = this.group_input;
                this.entry["object"] = "group";
            }
            else if (this.choice.topic_name == "New Topic"){
                this.input = this.topic_input;
                this.entry["object"] = "topic";
                this.entry["group_name"] = this.choice.group_name;
            }
            else if (this.choice.question_name == "New Question"){
                this.input = this.question_input;
                this.entry["object"] = "question";
            }
            else if (this.choice.point_name == "New Point"){
                this.input = this.point_input;
                this.entry["object"] = "point"
            }
            else if (!this.choice.topic_name){
                this.mode = "edit-group";
                this.input = this.group_input
            }
            else if (!this.choice.question_name){
                this.mode = "edit-topic";
                this.input = this.topic_input
            }
            else if (!this.choice.point_name){
                this.mode = "edit-question";
                this.input = this.question_input
            }
            else {
                this.mode = "edit-point";
                this.input = this.point_input
            }
        },
        async createEntry(){
            if (this.entry.object == "group"){
                await this.createGroup()
            }
            else if (this.entry.object == "topic"){
                await this.createTopic()
            }
            else if (this.entry.object == "question"){
                await this.createQuestion()
            }
            else if (this.entry.object == "point"){
                await this.createPoint()
            }
            this.redirect()
        },
        async updateEntry(){
            if (this.mode == "edit-group"){
                this.updateGroup()
            }
            else if (this.mode == "edit-topic"){
                this.updateTopic()
            }
            else if (this.mode == "edit-question"){
                this.updateQuestion()
            }
            else if (this.mode == "edit-point"){
                this.updatePoint()
            }
            this.redirect()
        },
        async deleteEntry(){
            if (this.mode == "edit-group"){
                this.deleteGroup()
            }
            else if (this.mode == "edit-topic"){
                this.deleteTopic()
            }
            else if (this.mode == "edit-question"){
                this.deleteQuestion()
            }
            else if (this.mode == "edit-point"){
                this.deletePoint()
            }
            this.redirect()
        },
        async createGroup(){
            await fetch("http://localhost:3000/groups/add", {
                method: "POST",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
        },
        async updateGroup(){
            this.entry["old_name"] = this.choice.group_name;
            await fetch("http://localhost:3000/groups/update", {
                method: "PUT",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
        },
        async deleteGroup(){
            this.entry["name"] = this.choice.group_name;
            await fetch("http://localhost:3000/groups/delete", {
                method: "DELETE",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
        },
        async createTopic(){
            console.log(this.entry);
            this.entry["group_name"] = this.choice.group_name;
            await fetch("http://localhost:3000/topics/add", {
                method: "POST",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));            
        },
        async updateTopic(){
            this.entry["old_name"] = this.choice.topic_name;
            await fetch("http://localhost:3000/topics/update", {
                method: "PUT",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
        },
        async deleteTopic(){
            this.entry["name"] = this.choice.topic_name;
            await fetch("http://localhost:3000/topics/delete", {
                method: "DELETE",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
        },
        async createQuestion(){
            console.log(this.entry);
            this.entry["topic_name"] = this.choice.topic_name;
            await fetch("http://localhost:3000/topics/add/question", {
                method: "POST",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));            
        },
        async updateQuestion(){
            this.entry["topic_name"] = this.choice.topic_name;
            this.entry["old_content"] = this.choice.question_name;
            await fetch("http://localhost:3000/topics/update/question", {
                method: "PUT",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
        },
        async deleteQuestion(){
            this.entry["topic_name"] = this.choice.topic_name;
            this.entry["content"] = this.choice.question_name;
            await fetch("http://localhost:3000/topics/delete/question", {
                method: "DELETE",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
        },
        async createPoint(){
            console.log(this.entry);
            this.entry["topic_name"] = this.choice.topic_name;
            this.entry["question_name"] = this.choice.question_name;
            await fetch("http://localhost:3000/topics/add/point", {
                method: "POST",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));            
        },
        async updatePoint(){
            this.entry["topic_name"] = this.choice.topic_name;
            this.entry["content"] = this.choice.question_name;
            this.entry["old_name"] = this.choice.point_name;
            await fetch("http://localhost:3000/topics/update/point", {
                method: "PUT",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
        },
        async deletePoint(){
            this.entry["topic_name"] = this.choice.topic_name;
            this.entry["content"] = this.choice.question_name;
            this.entry["name"] = this.choice.point_name;
            await fetch("http://localhost:3000/topics/delete/point", {
                method: "DELETE",
                body: JSON.stringify(this.entry),
                headers: {"Content-type": "application/json; charset=UTF-8"},
                }).then(response => response.json()) 
                .then(json => console.log(json))
                .catch(err => console.log(err));
        },
    },
    data() {
        return {
            input: [],
            entry: {},
            mode: "new",
            group_input: [
                {
                    key: "name",
                    name: "Nom du groupe",
                    type: "text",
                },
                {
                    key: "description",
                    name: "Description succinte",
                    type: "text-area"
                },
                {
                    key: "full_description",
                    name: "Description complète",
                    type: "text-area"
                }
            ],
            topic_input: [
                {
                    key: "name",
                    name: "Nom du sujet",
                    type: "text"
                },
                {
                    key: "description",
                    name: "Description",
                    type: "text-area"
                }
            ],
            question_input: [
                {
                    key: "content",
                    name: "Question",
                    type: "text-area"
                }
            ],
            point_input: [
                {
                    key: "name",
                    name: "Nom du point",
                    type: "text"
                },
                {
                    key: "description",
                    name: "Description du point",
                    type: "text-area"
                }
            ]
        }
    },
    beforeMount() {
        this.init()
    }
}
</script>

<style lang="scss">
.key-value {
    font-family: "Roboto Thin";
    font-size: 15px;
}

.key-name {
    font-family: "Roboto Regular";
    font-size: 20px;
}

.editor {
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

button {
    font-family: "Roboto Regular";
    color: white;
    border-width: 1px;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    opacity: 0.8;
    transition: 0.3s;
    position:relative;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.delete-button {
    background: #b95b5b;    
    border-color: #b95b5b; 
}

.delete-button:hover {
    background: #b83636;    
    border-color: #b83636;
}

.create-button {
    background: #6cb876;    
    border-color: #6cb876;
}

.create-button:hover {
    background: #43b452;    
    border-color: #43b452;
}


.modify-button {
    background: #5184a1;    
    border-color: #5184a1;
}

.modify-button:hover {

    background: #1073ac;    
    border-color: #1073ac;
}
</style>