<template>
<div>
    <div class="click-group-item" @click="alertMessage">
        <p class="group-name"> {{ name }}</p>
        <p class="group-description">
            {{ description }}
        </p>
    </div>
    <transition name="slide-fade">
        <div :id="name" v-if="show">
            <p class="hidden">
                {{ full_description }}
            </p>
            <router-link class="bouton_group" :to="name" tag="button">Explorer les thèmes du {{ name }}</router-link>
        </div>
    </transition>
</div>
</template>

<script>
export default {
    name: "GroupItem",
    props: {
        name: String,
        description: String,
        full_description: String,
    },
    methods: {
        alertMessage() {
            this.show = !this.show
        },
        scroll() {
            var element = document.getElementById(this.name)
            window.scrollTo({
                top: element.offsetTop,
                left: 0,
                behavior: 'smooth',
            });        
      }
    },
    data () {
        return {
            show: false
        }
    },
    updated() {
        if (this.show) {
            this.scroll()
        }
    }
}
</script>

<style lang="scss">
@font-face {
    font-family: "Roboto Regular";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: url("../assets/fonts/Roboto-Light.ttf");
}

.click-group-item {
    cursor: pointer;
    width: 20%;
    text-align: center;
    position: relative;
    left: 40%;
}

.group-name {
    font-family: "Roboto Regular";
    margin-bottom: 10px;
    font-size: 30px;
}
.group-description {
    font-family: "Roboto Light";
    margin-top: 0px;
    font-size: 20px;
}

.click-group-item:hover {
    opacity: 0.5;
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: 0;
}

.hidden {
    width: 80%;
    position: relative;
    margin-top: 50px;
    left: 10%;
    text-align: left;
    font-family: "Roboto Thin";
    font-size: 20px;
}

.bouton_group {
    position:relative;
    display: block;
    margin: auto;
    background: #4ACA0A;    
    font-family: "Roboto Regular";
    color: white;
    border-width: 1px;
    border-color: #4ACA0A;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    opacity: 0.8;
    transition: 0.3s;
}

.bouton_group:hover {
    opacity: 1;
    cursor: pointer;   
}
</style>