<template>
    <div id="topic-item">
    <div id="container" class="click-point-item" @click="alertPoint">
        <p class="point-name"> {{ name }}</p>
    </div>
    <transition name="slide-fade">
    <div :id="name" v-if="show_point">
        <p class="point-description"> {{ description }}</p>
        <div v-if="Object.keys(data).length >0">
            <Chart :datasets="data.datasets"
                   :labels="data.labels"
                   :type="data.type"
                   :title="data.title"
                    />
        </div>
    </div>
    </transition>
</div>
</template>

<script>
import Chart from "./Chart"

export default {
    name: "PointItem",
    props: {
        name: String,
        description: String,
        data: Object,
    },
    components: {
        Chart
    },
    methods: {
        alertPoint() {
            this.show_point = !this.show_point;
            if (this.show_point && this.data_check) {
                this.makeChart();
            }
        },
        scroll() {
            var element = document.getElementById(this.name)
            window.scrollTo({
                top: element.offsetTop,
                left: 0,
                behavior: 'smooth',
            });        
      }
    },
    data () {
        return {
            show_point: false
        }
    },
    updated() {
        if (this.show_point){
            this.scroll();
        }
    }
}
</script>

<style lang="scss">

.point-name {
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-family: "Roboto Light";
    font-size: 20px;
    cursor: pointer;
}

.point-description {
    width: 80%;
    position: relative;
    margin-top: 25px;
    left: 10%;
    text-align: left;
    font-family: "Roboto Thin";
    font-size: 20px;
}
</style>