<template>
    <div>
        <p class="question" @click="alertQuestion"> {{ content }}</p>
        <transition name="slide-fade">
            <div :id="content" v-if="show_question">
            <PointItem v-for="point in points" v-bind:key="point.name"
                        :name="point.name"
                        :description="point.description"
                        :data="point.data || {}"
            />
            </div>
        </transition>
    </div>
</template>

<script>

import PointItem from "./PointItem"

export default {
    name: "QuestionItem",
    components: {
        PointItem
    },
    props: {
        content: String,
        points: Array,
    },
    methods: {
        alertQuestion() {
            this.show_question = !this.show_question;
        },
        scroll() {
            var element = document.getElementById(this.content)
            window.scrollTo({
                top: element.offsetTop,
                left: 0,
                behavior: 'smooth',
            });        
      }
    },
    data () {
        return {
            show_question: false
        }
    },
    updated() {
        if (this.show_question){
            this.scroll();
        }
    }
}
</script>

<style lang="scss">
.question {
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-family: "Roboto Regular";
    font-size: 25px;
    cursor: pointer;
}
</style>