<template>
    <div class="selector" :v-if="show_selector">
        <p class="consigne"> Choix du {{ selecting.name }} </p>
        <select class="select-menu" v-model="selected" @change="fetch">
          <option v-for="item in selecting.items" v-bind:key="item[selecting.key_name]"
                  :value="item">
            {{ item[selecting.key_name] }}
          </option>
        </select>
        <button class="validation" @click="eventChoice">Validation du choix</button>
    </div>
</template> 

<script>

export default {
  name: 'Selector',
  data (){
    return {
      show_selector: true,
      selecting: {},
      selected: {},
      groups: [{name:"New Group", topics:[]}],
      group: {name: null},
      topics: [{name:"New Topic", questions:[]}],
      topic: {name: null},
      questions: [{content:"New Question", points:[]}],
      question: {content: null},
      points: [{name:"New Point"}],
      point: {name: null}
    }
  },
  methods: {
    async fetch(){
      await this.selecting.callback();
    },
    async fetchGroups(){
      this.groups = [{name:"New Group"}];
      try {
        let response = await fetch("http://localhost:3000/groups");
        this.groups.push(...await response.json());
      } catch (error) {
        console.log(error);
      }
      this.selecting = {
        name: "groupe",
        items: this.groups,
        value: "group",
        key_name: "name",
        callback: this.fetchTopics
      }
    },
    async fetchTopics(){
      if (this.selected){
        this.group = this.selected;
        if (this.group.name.startsWith("New")){
          this.eventChoice()
        }
        this.topics = [{name:"New Topic"}];
        try {
            let response = await fetch("http://localhost:3000/topics/" + this.group.name);
            this.topics.push(...await response.json());
        } catch (error) {
            console.log(error);
        }
        this.selecting = {
          name: "sujet",
          items: this.topics,
          value: "topic",
          key_name: "name",
          callback: this.fetchQuestions
        }
      }
    },
    fetchQuestions(){
        if (this.selected){
            this.topic = this.selected;
            if (this.topic.name.startsWith("New")){
              this.eventChoice()
            }
            this.questions = [{content:"New Question"}];
            this.questions.push(...this.topic.questions || [])
            this.selecting = {
              name: "question",
              items: this.questions,
              value: "question",
              key_name: "content",
              callback: this.fetchPoints
            }
        }
    },
    fetchPoints(){
      if (this.selected){
          this.question = this.selected;
          if (this.question.content.startsWith("New")){
            this.eventChoice()
          }
          this.points = [{name:"New Point"}];
          this.points.push(...this.question.points || [])
          this.selecting = {
            name: "point",
            items: this.points,
            value: "point",
            key_name: "name",
            callback: () => {
              if (this.selected){
                this.point = this.selected
              }
            }
          }
      }
    },
    eventChoice(){
        this.$emit('validation-choice', {
            message: "choice validated",
            choice: {
              group_name: this.group.name,
              topic_name: this.topic.name,
              question_name: this.question.content,
              point_name: this.point.name
            },
            full_data: {
              group: this.group,
              topic: this.topic,
              question: this.question,
              point: this.point
            }
        });
    }
  },
  mounted() {
    this.fetchGroups();
  },
}
</script>

<style>

.selector {
  text-align: center;
}

.consigne {
  text-align: center;
  font-family: "Roboto Thin";
  font-size: 20px;
}

.select-menu {
  margin-bottom: 30px;
}

.validation {
    cursor: pointer;
    position:relative;
    display: block;
    margin: auto;
    background: #4ACA0A;    
    font-family: "Roboto Regular";
    color: white;
    border-width: 1px;
    border-color: #4ACA0A;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    opacity: 0.8;
    transition: 0.3s;
}

.validation:hover {
    opacity: 1;
    cursor: pointer;   
}
</style>