<template>
<div class="topic-item">
    <div class="click-topic-item" @click="alertTopic">
        <p class="topic-name"> {{ name }}</p>
        <p class="topic-description"> {{ description }}</p>
    </div>
    <transition name="slide-fade">
    <div :id="name" v-if="show_topic">
        <QuestionItem v-for="question in questions" v-bind:key="question.content"
            :content="question.content"
            :points="question.points"
        />
    </div>
    </transition>
</div>
</template>

<script>
import QuestionItem from "./QuestionItem"

export default {
    name: "TopicItem",
    components: {
        QuestionItem
    },
    props: {
        name: String,
        description: String,
        questions: Array,
    },
    methods: {     
        alertTopic() {
            this.show_topic = !this.show_topic
        },
       scroll() {
            var element = document.getElementById(this.name)
            window.scrollTo({
                top: element.offsetTop,
                left: 0,
                behavior: 'smooth',
            });        
      }
    },
    data () {
        return {
            show_topic: false,
            show_question: false
        }
    },
    updated () {
        if (this.show_topic) {
            this.scroll()
        }
    }
}
</script>

<style lang="scss">
@font-face {
    font-family: "Roboto Regular";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: url("../assets/fonts/Roboto-Light.ttf");
}

.click-topic-item {
    cursor: pointer;
    text-align: center;
    position: relative;
    width: 80%;
    left: 10%;
}

.topic-name {
    font-family: "Roboto Regular";
    margin-bottom: 15px;
    font-size: 40px;
}

.topic-description {
    font-family: "Roboto Thin";
    margin-top: 15px;
    font-size: 18px;
}

.question {
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-family: "Roboto Regular";
    font-size: 25px;
    cursor: pointer;
}
</style>