<template>
<div>
  <div id="app">
    <div id="bar-container">
      <router-link id="name-logo" to="/" tag="p">Climate Change Portal
      <img alt="Earth logo" src="./assets/logo.png"></router-link>
      <div id="nav">
        <router-link class="router-link" to="/">ACCUEIL</router-link> |
        <router-link class="router-link" to="/wpi">GROUPE DE TRAVAIL 1</router-link> |
        <router-link class="router-link" to="/">GROUPE DE TRAVAIL 2</router-link> |
        <router-link class="router-link" to="/">GROUPE DE TRAVAIL 3</router-link>
      </div>
    </div>
    <router-view/>
  </div>
  <div class="footer">
    <router-link class="router-link" to="/edit">MANUAL EDIT MODE</router-link>
  </div>
</div>
</template>

<style lang="scss">
@font-face {
    font-family: "Roboto Light";
    src: url("assets/fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: "Roboto Regular";
    src: url("assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto Thin";
    src: url("assets/fonts/Roboto-Thin.ttf");
}


#bar-container {
  top: 0; /* Position the navbar at the top of the page */
  width: 102%; /* Full width */
  height: 80px;
  left: -1%;
  position: fixed;
  background-color: #424242;
  z-index: 1;
  color: white;
  box-shadow: 0px 5px 15px -5px black;
  opacity: 0.9;
}

img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

#name-logo {
  width: 40%;
  margin-left: 3%;
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-family: "Roboto Thin";
  font-size: 35px;
  cursor: pointer;
}


#nav {
  position: relative;
  width: 55%;
  margin-left: 0%;
  margin-top: -20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: "Roboto Light";
  font-size: 20px;
}

router-link {
  display: inline-block;
}

.router-link {
    text-decoration: none;
    color: rgb(218, 218, 218);
    &[aria-current="page"]{
      font-weight: 1000;
      color: white;
    }
}

.router-link:hover {
    opacity: 0.5;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(41, 41, 41);
  color: white;
  text-align: center;
  font-family: "Roboto Regular";
}

</style>
